@font-face {
    font-family: 'Tiemposheadline';
    font-style:  normal;
    font-weight: 400;
    src: url(../fonts/TiemposHeadline-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Apercu medium';
    src: url(../fonts/apercu_medium-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu light';
    src: url(../fonts/apercu_light-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    color: #333;
}
.lead h1 {
    font-family:"Tiemposheadline";
    line-height: 80%; 
}

.lead p {
    font-family:"Apercu light";
}

.container {
    font-family:"Apercu light";
}

.tight-header {
    margin:0;
}

.no-vertical {
    line-height:100%;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
}

.infoTransactionHash {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}
.contractHash {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}
