@font-face {
    font-family: 'Tiemposheadline';
    font-style:  normal;
    font-weight: 400;
    src: url(fonts/TiemposHeadline-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Apercu light';
    src: url(fonts/apercu_light-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    color: #333;
    background-color:white;
    font-family:"Apercu light";
}

nav {
    font-family:"Apercu light";
    font-size:100%;
    line-height:30px;
    margin-top:0;
    margin-bottom:0;
}

nav a {
    cursor: pointer;
}

.navbar-brand.logo{
    font-size:xx-large;
    font-family:"Tiemposheadline";
    cursor: default;
    color:white;
}

.navbar-brand.logo:hover{
    color:white;
}

.ellipsis {
    
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:90%;
    max-width:90%;

}

.no-underline {
    text-decoration: none !important;
}

.no-vertical {
    line-height:100%;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
}

.img-responsive.avatar {
    min-width:40px;
    max-width:80px;
    width:100%;
}

.LandmarkPostRow .col-xs-3 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.LandmarkPostRow .col-xs-9 {
    padding-right: 5px !important;
    padding-left: 10px !important;
}


.messageDate {
    padding-right: 0.5em;
}

.messageNumber { }

.messageText { }

.messageAddress a {
    color: inherit;
}

#marks {
    max-width:750px;
}

#curatorNote {
    display:none;
}

#curatorMessage {
    display:none;
}

#statusNotFound {
    display:none;
}
#statusEmpty {
    display:none;
}

.navbar-link.btn {
    padding:0;
    margin:0;
    border:0;
}
