@font-face {
    font-family: 'Tiemposheadline';
    font-style:  normal;
    font-weight: 400;
    src: url(../fonts/TiemposHeadline-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Apercu medium';
    src: url(../fonts/apercu_medium-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu light';
    src: url(../fonts/apercu_light-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}


nav {
    font-family:"Apercu light";
    font-size:100%;
    line-height:30px;
    margin-top:0;
    margin-bottom:0;
}

nav a {
    cursor: pointer;
}

.navbar-brand.logo{
    font-size:xx-large;
    font-family:"Tiemposheadline";
    cursor: default;
    color:white;
}

.navbar-brand.logo:hover{
    color:white;
}


.tight-header {
    margin:0;
}

.no-vertical {
    line-height:100%;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
}

.no-underline:hover {
    text-decoration: none;
}

.messageNumber {
    font-family:monospace;
    font-size:80%;
}

.messageDate {

}
.messageText {
    white-space: pre;
}

#curatorNote {
    display:none;
}

#curatorMessage {
    display:none;
}

body {
    color: #333;
    background-color:white;
    font-family:"Apercu light";
}

#statusNotFound {
    display:none;
}
#statusEmpty {
    display:none;
}

.messageAddress a {
    color: inherit;
    padding-left: 0.5em;
}
